.product {
    text-align: center;
    background-color: #FFFFFF;
    padding-left: 175px;
    padding-right: 175px;
}

    .product h1 {
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 32px;
    }

    .product .product_item_container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .product .product_item {
        width: 324px;
        height: 440px;
        margin: 0 32px;
        padding: 32px;
        position: relative;
        border: 1px solid #D8D8D8;
        text-align: left;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 5px #616161;
        margin-bottom: 32px;
    }

        .product .product_item img {
            width: 100%;
            object-fit: cover;
        }

        .product .product_item h3 {
            font-size: 20px;
            margin-top: 16px;
        }

        .product .product_item h5 {
            color: #616161;
            font-size: 12px;
            margin-top: 4px;
        }

        .product .product_item span {
            display: block;
            margin-top: 4px;
        }

            .product .product_item span::after {
                content: " VND"
            }

        .product .product_item button {
            display: block;
            width: 100%;
            margin-top: 16px;
            text-align: center;
            padding: 12px 48px;
            border: none;
            background-color: #a4d587;
            border-radius: 6px;
            color: white;
            font-weight: 500;
            float: right;
            position: relative;
            top: 32px;
        }


.customization {
    text-align: center;
    background-color: #a4d587;
}

    .customization h2 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .customization p {
        font-size: 1rem;
        display: block;
        margin: 0 auto;
        width: 50%;
        margin-bottom: 24px;
    }

    .customization button {
        text-align: center;
        padding: 12px 48px;
        border: none;
        background-color: white;
        border-radius: 6px;
        color: #a4d587;
        border: 1px solid #a4d587;
        font-weight: 500;
    }
