@page
@model BirdCageShopRazorPage.Pages.Component.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="ms-3" style="width: 98.5%;">
    <h1>Edit</h1>

    <h4>Component</h4>
    <hr />
</div>
<div class="row ms-3">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Component.ComponentId" />
            <div class="form-group">
                <label asp-for="Component.ComponentName" class="control-label"></label>
                <input asp-for="Component.ComponentName" class="form-control" required/>
                <span asp-validation-for="Component.ComponentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Component.ComponentPrice" class="control-label"></label>
                <input asp-for="Component.ComponentPrice" class="form-control" required type="number"/>
                <span asp-validation-for="Component.ComponentPrice" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Component.Required" /> @Html.DisplayNameFor(model => model.Component.Required)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Component.QuantityRequired" class="control-label"></label>
                <input asp-for="Component.QuantityRequired" class="form-control" required/>
                <span asp-validation-for="Component.QuantityRequired" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Edit" class="btn btn-warning" />
                <a class="btn btn-primary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
