@page
@model BirdCageShopRazorPage.Pages.CageComponent.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CageComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CageComponent.CageComponentId" />
            <div class="form-group">
                <label asp-for="CageComponent.ComponentId" class="control-label"></label>
                <select asp-for="CageComponent.ComponentId" class="form-control" asp-items="ViewBag.ComponentId"></select>
                <span asp-validation-for="CageComponent.ComponentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CageComponent.CageId" class="control-label"></label>
                <select asp-for="CageComponent.CageId" class="form-control" asp-items="ViewBag.CageId"></select>
                <span asp-validation-for="CageComponent.CageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CageComponent.Quantity" class="control-label"></label>
                <input asp-for="CageComponent.Quantity" class="form-control" />
                <span asp-validation-for="CageComponent.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CageComponent.Color" class="control-label"></label>
                <input asp-for="CageComponent.Color" class="form-control" />
                <span asp-validation-for="CageComponent.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CageComponent.Material" class="control-label"></label>
                <input asp-for="CageComponent.Material" class="form-control" />
                <span asp-validation-for="CageComponent.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CageComponent.Price" class="control-label"></label>
                <input asp-for="CageComponent.Price" class="form-control" type="number"/>
                <span asp-validation-for="CageComponent.Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
