@page
@model BirdCageShopRazorPage.Pages.Category.EditModel

@{
    ViewData["Title"] = "Edit";
}

<section class="main">
    <h2>Edit Category</h2>
    <form method="post" class="w-100">
        <div class="main_content_container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.CategoryId" />
            <div>
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Category.Status" class="control-label"></label>
                <select asp-for="Category.Status" class="form-control">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
                <span asp-validation-for="Category.Status" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Edit" class="btn btn-warning" />
                <a class="btn btn-primary" asp-page="./Index">Back</a>
            </div>
        </div>
    </form>
</section>