@inject IHttpContextAccessor HttpContextAccessor
@{
    var logged = HttpContextAccessor.HttpContext?.User.Claims.Any() ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BirdCageShopRazorPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BirdCageShopRazorPage.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <header class="d-flex align-items-center justify-content-between my-2">
            <a asp-page="/Home/Index" class="text-decoration-none fs-3 text-dark fw-bold">
                <i class="fa-solid fa-feather-pointed"></i> BCage
            </a>
            
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a asp-page="/Home/Index" class="nav-link px-2 link-success border-3 border-bottom border-success"><i class="fa-solid fa-house me-2"></i>Home</a></li>
                <li><a asp-page="/Cage/Index" class="nav-link px-2 link-secondary"><i class="fa-solid fa-tag me-2"></i>Products</a></li>
                <li><a asp-page="/Order/Index" class="nav-link px-2 link-secondary"><i class="fa-solid fa-cart-shopping me-2"></i> Cart</a></li>
            </ul>

            <div class="col-md-3 text-info text-end">
                <a asp-page="/Login" class="btn btn-success text-decoration-none">Signin</a>
                @*<a asp-page="/Home/Index" class="d-block btn btn btn-outline-primary text-decoration-none">Signin</a>*@
            </div>

        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Group3 Bird Cage Shop - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>