@inject IHttpContextAccessor HttpContextAccessor
@{
    var logged = HttpContextAccessor.HttpContext?.User.Claims.Any() ?? false;
    var checkRole = HttpContextAccessor.HttpContext?.User.Claims.Where(c => c.Type == "scope").Any(c => c.Value.Contains("Staff") || c.Value.Contains("Admin")) ?? false;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BirdCageShopRazorPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BirdCageShopRazorPage.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        /*$(document).ready(function () {
            $('.nav li a').click(function (e) {
                $('.nav li a').removeClass('link-success border-3 border-bottom border-success');

                $(this).addClass('link-success border-3 border-bottom border-success');
                //e.preventDefault();
            });
        });*/
        $(document).ready(function () {
            var activeNavItem = localStorage.getItem('activeNavItem');

            if (activeNavItem) {
                $('.nav li a').removeClass('link-success border-3 border-bottom border-success');
                $('.nav li a[data-target="' + activeNavItem + '"]').addClass('link-success border-3 border-bottom border-success');
            }

            $('.nav li a').click(function (e) {
                $('.nav li a').removeClass('link-success border-3 border-bottom border-success');
                $(this).addClass('link-success border-3 border-bottom border-success');
                var target = $(this).data('target');
                localStorage.setItem('activeNavItem', target);
            });
        });
    </script>
</head>
<body>
    <div style="padding: 0 148px">
        <header class="d-flex align-items-center justify-content-between my-2">
            <a asp-page="/Index" class="text-decoration-none fs-3 text-dark fw-bold">
                <i class="fa-solid fa-feather-pointed"></i> BCage
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a asp-page="/Index" class="nav-link px-2 link-secondary px-4" data-target="home"><i class="fa-solid fa-house me-2"></i>Home</a></li>
                <li><a asp-page="/Cage/Index" class="nav-link px-4 link-secondary px-3" data-target="products"><i class="fa-solid fa-tag me-2"></i>Products</a></li>
                <li><a asp-page="/Order/Index" class="nav-link px-4 link-secondary px-3" data-target="cart"><i class="fa-solid fa-cart-shopping me-2"></i> Cart</a></li>

                @* Admin/ Staff *@
                @if (checkRole)
                {
                    <li><a asp-page="/Component/Index" class="nav-link px-4 link-secondary px-3" data-target="component"><i class="fa-solid fa-shapes me-2"></i> Component</a></li>
                    <li><a asp-page="/Category/Index" class="nav-link px-4 link-secondary px-3" data-target="category"><i class="fa-solid fa-cart-shopping me-2"></i> Category</a></li>
                }
            </ul>

            <div class="col-md-3 text-info text-end">

                @if (!logged)
                {
                    <a asp-page="/Login" class="nav_button">Sign-in</a>
                }
                else
                {
                    <form method="post" action="/logout">
                        @* <a asp-page="/logout" class="nav_button"><i class="fa-solid fa-right-from-bracket"></i></a> *@
                        <button type="submit" class="nav_button"><i class="fa-solid fa-right-from-bracket"></i></button>
                    </form>
                }
            </div>

        </header>
    </div>
    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="main">
            <a asp-page="/Index">
                <i class="fa-solid fa-feather-pointed"></i> BCage
            </a>
            <p>At BCage Shop, we provide a feathered friend's paradise, offering a wide range of high-quality bird cages and accessories. Explore our collection to discover the perfect combination of style, comfort, and safety for your beloved birds.</p>
            <p>&copy; 2023 - Group3 Bird Cage Shop</p>
            <p>Designed team: FromTeam3</p>
        </div>

        <div class="navigation">
            <h2>Navigation</h2>
            <p><a asp-page="/Index">Home</a></p>
            <p><a asp-page="/Cage/Index">Product</a></p>
            <p><a asp-page="/Order/Index">Cart</a></p>
            <p> <a href="#">Profile</a></p>
        </div>

        <div class="share">
            <h2>Stay Connect</h2>
            <p><i class="fa-brands fa-square-facebook me-2"></i>RaeKyo@12345</p>
            <p><i class="fa-brands fa-square-github me-2"></i>tien-rayujin</p>
            <p><i class="fa-brands fa-instagram me-2"></i>RaeKyo@za1234</p>
        </div>

        <div class="contact">
            <h2>Contact us</h2>
            <p><i class="fa-solid fa-phone me-2"></i>0908.098.989</p>
            <p><i class="fa-solid fa-at me-2 me-2"></i>RaeKyo@gmail.com</p>
            <p><i class="fa-solid fa-location-dot me-2"></i>NVH Sinh vien Khu Dai hoc quoc gia</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>