@page
@model BirdCageShopRazorPage.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

@if (TempData["warning"] != null)
{
    <div class="alert alert-danger m-0" role="alert">
        @TempData["warning"]
    </div>
    TempData.Remove("warning");
}

<section class="main">
    <h2>Sign in</h2>

    <form method="post" class="w-100">
        <div class="main_content_container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <p>Email</p>
                <input style="border: 1px solid #ddd; padding: 6px 10px; width: 100%" asp-for="LoginUser.Email" />
                <span asp-validation-for="LoginUser.Email" class="text-danger"></span>
            </div>
            <div>
                <p>Password</p>
                <input style="border: 1px solid #ddd; padding: 6px 10px; width: 100%" type="password" asp-for="LoginUser.Password" />
                <span asp-validation-for="LoginUser.Password"></span>
            </div>
            <div>
                <p>Don't have an account? <a style="color: #a4d587" href="./Register">Register</a> Here!</p>
            </div>
            <button type="submit">Login</button>
        </div>
    </form>
</section>