@page
@model BirdCageShopRazorPage.Pages.Order.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<form method="post">
    @* <input type="submit" value="test post" class="btn btn-success" /> *@
    <a asp-page="Index" class="btn btn-primary">Back</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
